//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
.card{
    --bs-card-bg: #fff;
}

.modal-content {
    --bs-modal-bg: #fff;
}

.table {
    --bs-table-bg: #fff;
}

.react-tag-input {
    background-color: #fff;
    padding: 0.35rem 1rem;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
}


