//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
.card{
    --bs-card-bg: #fff;
}

.modal-content {
    --bs-modal-bg: #fff;
}

.table {
    --bs-table-bg: #fff;
}


